.landingSection{
    background-image: url(../img/h_img.jpg);
    height: 800px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    padding: 300px;
}
.mouseClick{
    padding-top: 100px;
    padding-bottom: 10px;
    border-bottom: 5px;
}
.aboutUs{
    text-align:center;
    padding: 40px;
}
.servicesSection{
    background-image: url(../img/s_image.jpg);
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    padding: 80px;
}
.whatWeDo{
    text-align: center;
    margin: 40px;
}
.deeds{
    margin: 30px;
}
.portfolio{
    text-align: center;
}
#portfolio{
    text-align: center;
    align-items: center;
    margin-left: 160px;
    margin-right: 60px;
}

.col-md-2{
    padding: 10px;
    margin: 10px;
    border: 10px;
    width: 30px;
}
.col-md-2 img{
    margin: 20px;
    width: 100%
}
.welcome{
    color: white;
}
.services, .contact{
    color: white;
}
#paragraphDesign, #paragraphDev, #paragraphProduct{
    display:none;
}
#contactSection, #userName, #userEmail, #inputtedTextFromContactingUser{
    color: white; 
}
.mc-field-group {
    color: white;
}
.hoverCaption{
    position: absolute;
    text-align: center;
    display: none;
    background-color: white;
    opacity: 0.5;
}
.hoverCaption p{
    position: absolute;
    color: black;
    text-align: center;
    top: 50%;
    width: 100%;
}
#divContactSection{
    background-image: url(../img/c_image.jpg);
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 60px;
}

#mce-MESSAGE, #mce-MMERGE1, #mce-EMAIL{
    background-color: rgba(0,0,0,0) !important;
    color: white;
}
#mce-MMERGE1{
    width: 400px;
    margin: 20px;
}
#mce-EMAIL{
    width: 400px;
    margin: 20px;
}
#mce-MESSAGE{
    height: 300px;
    width: 1000px;
}
::placeholder{
    color: white;
    opacity: 1;
}
#logosAndSocialMedia{
    height: auto;
    width: auto;
    padding: 40px;
    padding-bottom: 20px;
    align-items: center;
}
#copyRightSection{
    padding: 10px;
    margin: 10px;
    text-align: center;
}
#imgPortfolio{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.hoverCaption{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.workDone:hover #imgPortfolio {
    opacity: 0.3;
}
.workDone:hover .hoverCaption {
    opacity: 1;
}
#hovText {
    background-color: rgba(0,0,0,0);
    color: blue;
    font-size: 16px;
    padding: 16px 32px;
    text-align: center;
}
