.landingSection{
    background-image: url(../img/h_img.jpg);
    height: 800px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    padding: 300px;
}
.mouseClick{
    padding-top: 100px;
    padding-bottom: 10px;
    border-bottom: 5px;
}
.aboutUs{
    text-align:center;
    padding: 40px;
}
.servicesSection{
    background-image: url(../img/s_image.jpg);
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    padding: 80px;
}
.whatWeDo{
    text-align: center;
    margin: 40px;
}
.deeds{
    margin: 30px;
}
.portfolio{
    text-align: center;
}
#portfolio{
    column-gap: 20px;
}
.col-md-2{
    padding: 10px;
    margin: 10px;
    border: 10px;
    width: 30px;
}
.contactSection{
    background-image: url(../img/c_image.jpg);
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.col-md-2 img{
    margin: 20px;
    width: 100%
}
.welcome{
    color: white;
}
.services, .contact{
    color: white;
}
#paragraphDesign, #paragraphDev, #paragraphProduct{
    display:none;
}
#portfolio{
    text-align: center;
    align-items: center;
    margin-left: 160px;
    margin-right: 60px;
}

